/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 

 Navigation Bar CSS 

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
body{
  background-color: #ececec;
  font-family: "Crimson Text", serif;
  font-size: 18px;
}

#header{
  max-width:1080px;
  position: relative;
  margin: auto;
}

#main{
  max-width:1080px;
  position: relative;
  margin: auto;
}

#title{
  position:relative;
  top:60px;
	text-align: center;
  line-height: 80%;
  font-size:24px;
}

a:link{
	text-decoration: none;
  color: #959595;
}

a:visited{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
  color: #34e0ca;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 

 Navigation Bar CSS 

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

#info-container{
  top:40px;
  text-align:center;
  display: table;
  width: 100%;
  height: 10px;
  position: relative;
}

#info-container img{
}

.title, .navbar{
  margin-left: 1.858736%;
  margin-right: 1.858736%;
}

.title{
  font-size: 30px;
  font-style:italic;
  float: left;
  width: 34.167%;
}

.navbar a{
  padding-left:3%;
  padding-right:3%;
}

.navbar{
  float: right;
  padding-top:30px;
  width: 44.6667%;
}



/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 

      Front Page

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

#intro{
  position:relative;
  text-align: center;
  top:70px;
  padding-left:10%;
  padding-right:10%;
  line-height: 80%;
  font-size:24px;
}

#intro h1{
    font-size:24px;
}

#front-content{
  padding-top:90px;
  padding-left:3%;
  padding-right:3%;
}

#front-content p{
  margin: 0;
  padding-bottom: 16px;
  line-height: 18px;
}

#front-content h2{
  font-size:18px;
}

#front-content img{
  vertical-align:bottom;
  border: solid;
  border-color: #959595;
  border-width: 1px;
}

.Back{
  padding-top: 50px;
  font-style:italic;
  float:left;
} 

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 

    Maps

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
#page-title-container{
  border: solid;
  border-width: 1px;
  position:relative;
  top:70px;
  padding-left:10%;
  padding-right:10%;
  line-height: 80%;
  height:50px;
  text-align: center;
}

.page-root{
  float: left;
  font-size:12px;
}

.page-root-center{
  padding-top:14px;
  padding-right:30%;
}

#maps-content{
  padding-top:100px;
  padding-left:3%;
  padding-right:3%;
}

#maps-content img{
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
}

#static-container{
  text-align: center;
  font-size:12px;
}

.linebreak{
  margin: auto;
  margin-top: 50px;
  width: 75%;
  height: 1px;
  background: #a1a1a1;
}

.centered-title{
  text-align: center;
  padding-right:12%;
  padding-top: 16px;
  padding-bottom: 10px;
  font-size: 24px;
}

#infoboxs{
  color: #FFF;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #e5e5e5;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  width: 620px;
  height: 150px;
  color: #666666;
  font-size: 18px;
  border: 4px solid #e5e5e5;
  border-radius: 10px;
}

.infothumb{
  float: left;
  margin: auto;
}

.infowords{
    padding-left: 160px;
    margin-top: -17px;
    margin-left: 20px;
    margin-right: 50px;
}

.infowords h2{
  font-size: 24px;
  font-weight: 100;
  color: #909090;
  line-height:80% ;
}

.infowords p{
  color: #666666;
  font-size: 16px; 
  line-height: 140%;
}


/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 

  Illustrations!

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.illus-linebreak{
  margin: auto;
  margin-bottom: 20px;
  width: 75%;
  height: 1px;
  background: #a1a1a1;
}

#illus-content{
  padding-top:120px;
  padding-left:3%;
  padding-right:3%;
  text-align: center;

}

#illus-content img{
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
  height:auto;
}


/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 

    Words

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

#words-content{
  margin-top:120px;
  padding-left:3%;
  padding-right:3%;
  width: 80%;
  margin-left:40px;
}

.words{
  padding-left: 10%;
  padding-right: 10%;
}

#words-content img{
  margin-top:25px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bimg img{
  border: solid;
  border-color: #959595;
  border-width: 1px;
}

.date{
  color: #a1a1a1;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 

    Functional Bits

~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
/*
COLORS 

Link Grey -- #959595
Mid Grey -- #a1a1a1
Back Grey -- #e5e5e5
*/

/* TEST SIZES
 border: solid;
  border-width: 1px;*/

/* RESIZING
#front-content img{
  max-width:95%;
  height:auto;
}
*/

.footer{
  margin-top:160px;
  height:100px;
  width:110%;
  background-color:#bee0c2;
  text-align: center;
  border: solid;
  border-width:20px;
  border-color: #bee0c2;
  margin-left:-20px;
  position: absolute;
  display: table;
}


.footer p{
  line-height: 0.2;
}

.footer-content i{
  margin-left:1%;
  margin-right:1%;
}

.footer-content a:link{
  color: black;
}

.footer-content a:hover{
  color: #34e0ca;
}
