---
layout: default
bannerimg: /banners/cakebanner
---
<style>
.welcomeplate h1{
	color: rgba(0,0,0,0);
}
</style>

<div class="cake-title">
	<img src="../assets/graphics/cake/ComicHead.png"></img>
</div>

<div class="cake-line"></div>

<div class="cake-comic-title">{{ page.name }}</div>

<div id = "comic-content">
    <div id="comic">
      <img src = "../assets/graphics/cake/comics/{{ page.comic }}" alt= "{{ page.hovertext }}"> 
    </div>


<div id="comicnav">
{% if page.prev == null %}
  <img src="../assets/graphics/cake/comics/previousi.png"></img>
{% else %}
  <a href = "./{{ page.prev }}.html"><img src = "../assets/graphics/cake/comics/previous.png" onmouseover="this.src='../assets/graphics/cake/comics/previousc.png'" onmouseout="this.src='../assets/graphics/cake/comics/previous.png'"></a> 
{% endif %}
 <a href = "../cake.html"><img src = "../assets/graphics/cake/comics/archieve.png" onmouseover="this.src='../assets/graphics/cake/comics/archievec.png'" onmouseout="this.src='../assets/graphics/cake/comics/archieve.png'"></a>
{% if page.next == null %}
 <img src="../assets/graphics/cake/comics/nexti.png"></imgs>
{% else %}
  <a href = "./{{ page.next }}.html"><img src = "../assets/graphics/cake/comics/next.png" onmouseover="this.src='../assets/graphics/cake/comics/nextc.png'" onmouseout="this.src='../assets/graphics/cake/comics/next.png'"></a> 
{% endif %}
 </div>

<div class= "comic-words">
	{{ content }}
</div>

</div>