<div class = "site-entire">
	<header class ="nav-down">
		<div class ="nav-container">
			<a href= "../index.html"><i class="fa fa-home"></i> <h1>Home</h1></a>
			<a href="../maps.html"><i class="fa fa-globe"></i> <h1>Work</h1></a> 
			<a href="../cake.html"><i class="fa fa-paint-brush"></i> <h1>Toons</h1></a>
			<a href="../tunes.html"><i class="fa fa-music"></i> <h1>Tunes</h1>
			<a href="../about.html"><i class="fa fa-user"></i> <h1>Contact</h1></a>
		</div>
	</header>


		<div class="welcomemat" id="welcomemat">
			<div class="welcomeimagebox">
				{% if page.bannersplit == true %}
					<img class="welcomemat-left" src="../graphics/meta/testleft.jpg"></img>
					<img class="welcomemat-right" src="../graphics/meta/testright.jpg"></img>
				{% else %}
					<img class="welcomemat-center" src="../graphics/meta/testleft.jpg"></img>
				{% endif %}
					<img class="tothetop" src="../graphics/meta/cover.svg"></img>
			</div>
		</div>
		<div class="welcomecover">
			<div class="welcomecarto">
			</div>
			<div class="welcomeplate">
			<h1> {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
				<div class="welcomeiconbox">
					{% if page.links %}{{ page.links }}{% else %}{{ }}{% endif %}
				</div>
			</div>
			<div class="welcomeillus">
			</div>
	</div>
</div>