{% include bits/maproll1.html %}1-ybnyc.png
{% include bits/maproll2.html %}1-ybnyc.png
{% include bits/maproll3.html %}Your Body, (Not) Your Choice
{% include bits/maproll4.html %}An interactive map explaining abortion restriction laws. Built in Bootstrap, D3, Javascript.
{% include bits/maproll5.html %}<a href="https://github.com/DylanMoriarty" target="_blank"><i class="fa fa-github fa-2x"></i></a>
{% include bits/maproll6.html %}

{% include bits/maproll1.html %}3-uwmad.png
{% include bits/maproll2.html %}3-uwmad.jpg
{% include bits/maproll3.html %}UW-Madison Map
{% include bits/maproll4.html %}Hand drawn map of the University of Wisconsin-Madison to celebrate the actual reputation most of the locations have.
{% include bits/maproll5.html %}
{% include bits/maproll6.html %}

{% include bits/maproll1.html %}3-uwmad.png
{% include bits/maproll2.html %}4-hashtags.gif
{% include bits/maproll3.html %}OSM-Hashtag Tracker
{% include bits/maproll4.html %}I designed the front-end for this amazing api built by Marc Farra that tracks a hashtag used for <a href="http://OpenStreetMap.org">OpenStreetMap</a> edits. <p>The site for it has been taken down, but we're doing a bunch of work to scale this concept to something that'll hopefully be useful for Mapathons & emergency mapping.
{% include bits/maproll5.html %}
{% include bits/maproll6.html %}

{% include bits/maproll1.html %}5-plaid.png
{% include bits/maproll2.html %}5-plaid.png
{% include bits/maproll3.html %}Plaid Map
{% include bits/maproll4.html %}I made a plaid map.
{% include bits/maproll5.html %}
{% include bits/maproll6.html %}

{% include bits/maproll1.html %}2-sandw.png
{% include bits/maproll2.html %}2-sandw.png
{% include bits/maproll3.html %}Madison's Sub Problem
{% include bits/maproll4.html %}Voronoi map showing nearest sandwich shop given a spot in Madison. Built with D3, OpenStreetMaps, QGIS.
{% include bits/maproll5.html %}<a href="https://github.com/DylanMoriarty" target="_blank"><i class="fa fa-github fa-2x"></i></a>
{% include bits/maproll6.html %}

{% include bits/maproll1.html %}1-ybnyc.png
{% include bits/maproll2.html %}1-ybnyc.png
{% include bits/maproll3.html %}Your Body, (Not) Your Choice
{% include bits/maproll4.html %}An interactive map explaining abortion restriction laws. Built in Bootstrap, D3, Javascript.
{% include bits/maproll5.html %}<a href="https://github.com/DylanMoriarty" target="_blank"><i class="fa fa-github fa-2x"></i></a>
{% include bits/maproll6.html %}{% include bits/maproll1.html %}1-ybnyc.png
{% include bits/maproll2.html %}1-ybnyc.png
{% include bits/maproll3.html %}Your Body, (Not) Your Choice
{% include bits/maproll4.html %}An interactive map explaining abortion restriction laws. Built in Bootstrap, D3, Javascript.
{% include bits/maproll5.html %}<a href="https://github.com/DylanMoriarty" target="_blank"><i class="fa fa-github fa-2x"></i></a>
{% include bits/maproll6.html %}{% include bits/maproll1.html %}1-ybnyc.png
{% include bits/maproll2.html %}1-ybnyc.png
{% include bits/maproll3.html %}Your Body, (Not) Your Choice
{% include bits/maproll4.html %}An interactive map explaining abortion restriction laws. Built in Bootstrap, D3, Javascript.
{% include bits/maproll5.html %}<a href="https://github.com/DylanMoriarty" target="_blank"><i class="fa fa-github fa-2x"></i></a>
{% include bits/maproll6.html %}{% include bits/maproll1.html %}1-ybnyc.png
{% include bits/maproll2.html %}1-ybnyc.png
{% include bits/maproll3.html %}Your Body, (Not) Your Choice
{% include bits/maproll4.html %}An interactive map explaining abortion restriction laws. Built in Bootstrap, D3, Javascript.
{% include bits/maproll5.html %}<a href="https://github.com/DylanMoriarty" target="_blank"><i class="fa fa-github fa-2x"></i></a>
{% include bits/maproll6.html %}{% include bits/maproll1.html %}1-ybnyc.png
{% include bits/maproll2.html %}1-ybnyc.png
{% include bits/maproll3.html %}Your Body, (Not) Your Choice
{% include bits/maproll4.html %}An interactive map explaining abortion restriction laws. Built in Bootstrap, D3, Javascript.
{% include bits/maproll5.html %}<a href="https://github.com/DylanMoriarty" target="_blank"><i class="fa fa-github fa-2x"></i></a>
{% include bits/maproll6.html %}