body{
	background-color: #262626;
}
	#bottomtext{
		color: #736357;
		text-align: center;
	}

	#bottomtext a{
		text-decoration: none
	}

a:link {color:#736357;}     
a:visited {color:#596e77;} 
a:hover {color:#7999a7;}  
a:active {color:#596e77;} 

	#image-zoom-wrapper {
		position: relative;
		text-align: left;
		width: 900px;
		height: 708px;
		overflow: auto;
		margin: 10px auto;
		border: 1px solid #000;
		border-color:  #b7b7b7;
		background: #e5e5e5 url("./img/loader.gif") no-repeat 50% 50%;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	
	}

	#image-zoom-wrapper.js-active {
		cursor: move;
		background-image: none;
	}

	.js-enabled #image-zoom-wrapper {
		overflow: hidden;
		position: relative;
	}

	.js-enabled #image-zoom-wrapper #image-zoom {
		visibility: hidden;
		position: relative;
	}

	#image-zoom-wrapper div.zoom-control {
		width: 26px;
		height: 26px;
	}

	#image-zoom-wrapper div.zoom-in,
	#image-zoom-wrapper div.zoom-out {
		background: url("./img/zoom-in.png") no-repeat 0 0;
		position: absolute;
		left: 10px;
		top: 10px;
	}

	#image-zoom-wrapper div.zoom-out {
		background-image: url("./img/zoom-out.png");
		top: 46px;
	}

	#image-zoom-wrapper div.zoom-off {
		background-position: 0 100%;
	}

	@media(max-device-width: 480px) {

		#image-zoom-wrapper {
			border-width: 5px;
		}

		#image-zoom-wrapper div.zoom-in,
		#image-zoom-wrapper div.zoom-out {
			background-image: url("./img/zoom-in-104.png");
			width: 104px;
			height: 104px;
		}

		#image-zoom-wrapper div.zoom-out {
			background-image: url("./img/zoom-out-104.png");
			left: auto;
			right: 10px;
			top: 10px;
		}

	}
