@charset "utf-8";
/* CSS Document */

body {
	height: 100%;
	margin-left: 15%;
	font-family: "Proxima Nova Rg", Arial, Helvetica, sans-serif;
	/* text unselectable */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

svg{
	position: absolute;
}

.fix{
	left: 200px;
}

h3 {
	display: inline;
	margin-right: 10px;
}

#title p{
	position: absolute;
	color:grey;
	top: 218px;
	font-size: 14px;
	font-family: "Montserrat", serif;
}

.countries{
  stroke: #FFF;
  fill: #BFBFBF;
}

#mapbox{
	fill:#B1EAF2;
}

.map{
  fill:#B1EAF2;
}

.infolabel {
	position: absolute;
	font-family: "Montserrat", serif;
	width: 960px;
	height: 30px;
	color: #000;
	background-color:#fff ;
	padding: 5px;
	margin-top: 465px;
	text-align: center;
}

.infolabel h1 {
	font-size: 24px;
	font-family: "Montserrat", serif;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	line-height: 1em;
	text-align: center;
}

.labelname {
	display: inline-block;
	float: left;
	margin: 25px 0px 0px 0px;
	font-size: 1em;
	font-weight: bold;
	position: absolute;
}


#foodboxcontainerbox {
	width: 960px;
	height: 100px;
}

#chartdescr{
	position: absolute;
	top: 964px;
}

.chart {
	background-color: rgba(128,128,128,.2);
	border: medium solid #999;
	margin-top: 514px;
}

.chartTitle {
	font-size: 1.5em;
	font-weight: bold;
}

#meta{
	position: absolute;
	top: 1030px;
	font-family: "Montserrat", serif;
	font-size: 10px;
}

a:link{
	text-decoration: none;
	color: grey;

}