.cake-line{
	width: 60%;
	height: 1px;
	background-color: rgba(0,0,0,0.6);
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 40px;
}

.cake-title{
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0px;
	top:-90px;
}

.welcomeplate h1{
	color: #e5e5e5;
}