.cake-intro{
  padding-top: 20px;
}

.cake-line{
  width: 60%;
  height: 1px;
  background-color: rgba(0,0,0,0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 14px;
}

.cake-title{
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0px;
  top:-120px;
  img{
    max-width: 95%;
  }
}

.cake-roll{
  position: relative;
  text-align:center;
  list-style: none;
}

#comic img{
  width: 100%;
}

.comicnav{
  padding-top:14px;
  text-align: center;
  margin-bottom: 3rem;
}

.cake-comic-title{
  padding-top: 2px;
}
