.header-image{
  width:100%;
  position:absolute;
  text-align: center;
  top:-260px;
  left: 0;
  img{
    width: 140px;
  }
}

.welcomeplate{
    i{
        font-size: 1.8em;
        vertical-align: middle;
    }
}

.welcomemat{
	width:100%;
	height: 240px;
}

.welcomeimagebox{
	display: block;
	max-height: 240px;
	position: absolute;
	width:100%;
	height:100%;
	overflow: hidden;
}

.tothetop{
	bottom:-1px;
	width:100%;
	z-index: -2;
	pointer-events: none;
	position: absolute;
}

.welcomemat-left{
	position: absolute;
	bottom:0px;
	left:0px;
	height: auto;
	max-width: 50%;
	min-width: 600px;
	z-index: -7;
}

.welcomemat-right{
	position: absolute;
	bottom:0px;
	right:0px;
	max-width: 50%;
	height: auto;
	z-index: -10;
}

.welcomemat-center{
	position: absolute;
	bottom:0px;
	width: 100%;
	min-width: 600px;
	height: auto;
	z-index: -10;
}

.welcomecover{
	position: relative;
	height:100%;
	top: -10px;
}

.welcomecarto{

}

.welcomeplate{
	position: relative;
	text-align: center;
	height: 100%;
	width:40%;
	min-width: 300px;
	margin: 0 auto;
	h1{
		position: relative;
		margin-bottom: 0;
	}
	@media screen and (max-width: 675px){
		margin-top:1.5em;
	}
}


.welcomeiconbox{
	position: relative;
	margin-bottom: 1.5em;
	a{
		margin: 0 15px 0 15px;
	}
	i{
		vertical-align: middle;
		margin-right: 4px;
	}
}

.special-icon{
	i{
		border-radius: 50%;
		width:34px;
		height:34px;
		transition: background-color .35s;
		&:hover{
			background-color: lighten($Gold, 35);
		}
	}
}

.welcomeillus{

}