body{
  background-color: #ececec;
  font-family: "Crimson Text", serif;
  font-size: 18px;
  height: 100%;
  margin: 0;
  height: 0;
}

.site-entire{
    min-height: 100%;
    position: relative;
}

.site-title { 
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.page-content {
    position: relative;
    padding-bottom:2em;
    ul{
        right: -10px;
        list-style-type: none;
    }
}

#main{
  max-width:1080px;
  position: relative;
  margin: auto; 
}

#title{
  position:relative;
  top:60px;
    text-align: center;
  line-height: 80%;
  font-size:24px;
}

/* ~ ~ ~ ~ ~ 
Front Page Posts
 ~ ~ ~ ~ ~ */

.news-container{
  img{
    width:100%;
    border: solid #555 1px;
    transition: border 0.1s;
  }
  &:hover{
    img{
      border: solid darken($Gold,15) 1px;
    }
    .collecticons-star-full {
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
      color: $Gold;
    }
  }
}

.news-container-pinned {
  position: relative;
  .collecticons-star-full {
    color: #bbb;
    position: absolute;
    left: -1.75rem;
    -ms-transform: rotate(17deg); /* IE 9 */
    -webkit-transform: rotate(17deg); /* Chrome, Safari, Opera */
    transform: rotate(17deg);
    transition: all 0.2s;
  }
}

.description-name{
  font-size:0.85em;
  float: left;
  padding-bottom: 1.5em;
  @media screen and (max-width: 500px){
    width: 80%;
  }
}

.description-date{
  font-size: 0.85em;
  float: right;
  font-style: italic;
  text-align: right;
  @media screen and (max-width: 500px){
    width: 20%;
  }
}
