body{
  background-color: #ececec;
  font-family: "Crimson Text", serif;
  font-size: $base-font-size;
  height: 100%;
  margin: 0;
  height: 0;
}

.site-entire{
  min-height: 100%;
  position: relative;
}

.page-content {
  position: relative;
  padding-bottom:2em;
  ul {
    right: -10px;
    list-style-type: none;
  }
}

#main{
  max-width:1080px;
  position: relative;
  margin: auto; 
}

/* ~ ~ ~ ~ ~ 
Front Page Posts
 ~ ~ ~ ~ ~ */

.news-container{
  &:hover{
    .collecticons-star-full {
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
      color: $Gold;
    }
    .blog-banner-image {
      &:after {
        height: 100%;
        top: -0.5rem;
        left: -0.5rem;
        background-color: $LightGold;
        padding: 0.5rem 0.5rem 0;
      }
    }
  }
}

.blog-banner-image {
  width: 99%;
  position: relative;
  padding: 0;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 90%;
    background-color: $LightGold;
    opacity: 0.5;
    padding: 0;
    top: 0;
    left: 0;
    transition: all 0.4s;
  }
  img {
    border: 1px solid #444;
    width: 100%;
    height: 100%;
  }
}

.page-title {
  font-size: 2.6rem;
  position: relative;
  margin-bottom: 0;
  @media screen and (max-width: 600px){
    font-size: 1.75rem;
  }
}

.page-subtitle{
  font-size: 1.25rem;
  position: relative;
  margin-bottom: 1.5em;
  a{
    margin: 0 15px 0 15px;
  }
  i{
    vertical-align: middle;
    margin-right: 4px;
  }
}

.title-container{
  position: relative;
  text-align: center;
  top: -20px;
  height: 100%;
  width:40%;
  min-width: 300px;
  margin: 0 auto;
  @media screen and (max-width: 800px){
    width: 100%;
    margin-top:1.5em;
  }
  @media screen and (max-width: 600px){
    width: 100%;
    margin-top: 2.5em;
  }
}

.news-container-pinned {
  position: relative;
  .collecticons-star-full {
    color: #bbb;
    position: absolute;
    left: -1.75rem;
    -ms-transform: rotate(17deg); /* IE 9 */
    -webkit-transform: rotate(17deg); /* Chrome, Safari, Opera */
    transform: rotate(17deg);
    transition: all 0.2s;
  }
}

.description-name{
  font-size: 1rem;
  padding-bottom: 1.5rem;
  float: left;
  @media screen and (max-width: 750px){
    width: 80%;
  }
}

.description-date{
  font-size: 1rem;
  float: right;
  font-style: italic;
  text-align: right;
  padding-bottom: 1.5rem;
  margin-right: 1%;
  @media screen and (max-width: 750px){
    width: 18%;
  }
}
