.musicbox-img{
  text-align: center;
  position: absolute;
  top:-276px;
  width: 100%;
  left:0;
  img{
    width:140px;
  }
}

#musicbox{
  border: 2px solid black;
  padding: 0.1em;
  height: 300px;
  margin-bottom:0.5em;
}
