.Chapterbox{
	font-family: Quicksand;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	color: #8f8f8f;
	h1{
		position: relative;
		font-weight: 100;
		margin: 0;
		font-size: 0.9em;
		display: inline-block;
		height: 4px;
		width: 40px;
	}
}

.ChapterboxHeader{
	margin-bottom: 3px;
}

.ChapterboxTitle{
	bottom:3px;
	font-size: 1.3em;
	letter-spacing: 4px;
	position: relative;
}

.ChapterboxHeaderLine{
	width: 100px;
	height:1px;
	background-color: #8f8f8f;
	display: inline-block;
	position: relative;
	margin-bottom: 5px;
}

.ChapterboxFooterLine{
	width: 250px;
	height:1px;
	background-color: #8f8f8f;
	margin: auto;
	margin-top: 6px;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  font-style: italic;
  cursor: help;
  i{
  	vertical-align: super;
  	line-height: 0px;
  	color: #999;
  	margin-left: 2px;
  }
  &:hover{
  	color: green;
  	i{
  		color: green;
  	}
  };
}

.tooltiptext{
    transition: opacity 0.2s;
    display: none;
    &:hover{
			opacity: 1;
			display: block;
  	}
}

/* Tooltip text */
.tooltip .tooltiptext {
    opacity: 0;
    width: 200px;
    background-color: white;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px solid #666;
    font-size: 0.75em;
    padding: 0.75em 1em;
    bottom: 30px;
    left: 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    font-style: initial;
    line-height: 1.4em;
    color: #444;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    opacity: 1;
    display: block;
    height: auto;
}

.post{
	p{
		line-height: 1.75em;
	}
	i{
  	font-size: 0.8em;
	}
	ul{
		padding: 0.75em 0;
	}
	li{
		list-style-type:circle;
		padding: 0.5em 0;
	}
}

.article-foot{
	text-align:center;
	padding:1.5em 0 2.5em 0;
}

code{
	padding: 4px 5px;
	background-color: white;
	font-size: 0.75em;
	vertical-align: text-top;
	line-height: 15px;
}

aside{
	font-size: 0.76em;
	line-height: 1em;
}
