.center{
	text-align:center;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.bold { font-weight: bold; }

.fb {
	width: 100%;
	position: absolute;
	left: 0;
}

.svg-class {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
