---
layout: default
title:  "Dylan Moriarty"
bannerimg: /banners/main/null/
links: has done the following,

home: true

---

<div id= "front-content">
  <ul class="post-list">
    {% for b in site.blog reversed %}
      {% if b.display == 'yes' %}
      <li>
        <div class = "news-container">
            <a href="{{ site.baseurl }}{{ b.url }}">
               <img src="{{ site.baseurl }}/assets/graphics/banners/{{ b.banner }}">              
              <div class = "description-name">{{ b.description }}</div>
              <div class = "description-date">{{ b.date | date: '%B %d, %Y' }}</div>
          </div></a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
