body {
	text-align: center;
	background-color: #288935;
	min-width:1000px; 
   width: auto !important; 
   width:1000px;      
}
header{
	position: relative;

}
#banner{
	position: absolute;
}

#map{
	position: absolute;
	border-color: #1a7b28;
	border-style: solid;
	border-width: 4px;

	}

#legend{
	position: absolute;
	margin-top:230px;
}

