<div class = "site-entire">
	<header class ="nav-down">
		<div class ="nav-container">
			<a href= "{{ site.baseurl }}/"><i class="collecticons collecticons-home"></i> <h1>Home</h1></a>
<!-- 			<a href="../maps/"><i class="fa fa-globe"></i> <h1>Work</h1></a>			
 -->			<a href="{{ site.baseurl }}/cake/"><i class="collecticons collecticons-bubble"></i> <h1>Toons</h1></a>
			<a href="{{ site.baseurl }}/tunes/"><i class="collecticons collecticons-music"></i> <h1>Tunes</h1>
			<a href="{{ site.baseurl }}/about/"><i class="collecticons collecticons-glass"></i> <h1>Contact</h1></a>		
		</div>
	</header>


		<div class="welcomemat" id="welcomemat">
			<div class="welcomeimagebox">
				{% if page.bannersplit == true %}
					<img class="welcomemat-left" src="{{ site.baseurl }}/assets/graphics/meta/testleft.jpg"></img>
					<img class="welcomemat-right" src="{{ site.baseurl }}/assets/graphics/meta/testright.jpg"></img>
				{% else  %}
					<img class="welcomemat-center" src="{{ site.baseurl }}/assets/graphics/{{ page.bannerimg }}.jpg"></img>
				{% endif %}
					<img class="tothetop" src="{{ site.baseurl }}/assets/graphics/meta/cover.svg"></img>
			</div>
		</div>
		<div class="welcomecover">
			<div class="welcomecarto">
			</div>
			<div class="welcomeplate">
			<h1> {% if page.home == 'yes' %}<a href="{{ site.basurl }}/"><i class="collecticons collecticons-home"></i> /</a>{% endif %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
				<div class="welcomeiconbox">
					{% if page.links %}{{ page.links }}{% else %}{{ }}{% endif %}
				</div>
			</div>
			<div class="welcomeillus">
			</div>
	</div>
</div>