<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Dylan Moriarty</title>
<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700|Maven+Pro:400,700" rel="stylesheet">

<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
 -->
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

<!-- build:css /assets/styles/main.css -->
<link rel="stylesheet" href="{{ site.basurl }}/assets/styles/main.css">
<!-- endbuild -->

<!-- build:js /assets/scripts/vendor.js -->
<script src="{{ site.basurl }}/assets/scripts/vendor.js"></script>
<!-- endbuild -->
<!-- build:js /assets/scripts/bundle.js -->
<script src="{{ site.basurl }}/assets/scripts/bundle.js"></script>
<!-- endbuild -->

<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/graphics/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/graphics/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/graphics/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/graphics/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/graphics/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/graphics/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/graphics/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/graphics/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/graphics/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/assets/graphics/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/graphics/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/assets/graphics/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/graphics/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/graphics/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/graphics/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff"> 

<meta property="og:description" content="Dylan's online smorgasbord of maps, illustrations, & musings." />
<meta property="og:url"content="dylanmoriarty.github.io" />
{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
{% else %}
<meta property="og:title" content="DylanMoriarty.github.io" />
{% endif %}

{% if page.twitter == 'yes' %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@DylanMoriarty">
<meta name="twitter:creator" content="@DylanMoriarty">
<meta name="twitter:title" content="{{ page.twit-title }}">
{% if page.twit-descrip%}
<meta name="twitter:description" content="{{ page.twit-descrip }}">
{% else %}
<meta name="twitter:description" content="Dylan's online smorgasbord of maps, illustrations, & musings">
{% endif%}
<meta name="twitter:image" content="{{ page.twit-img }}">
</head>
{% endif %}