<div class="splitpic-contain images">
	<div class="splitpic splitpic-horizontal" data-orientation="horizontal">
	    <div class="splitpic-images" data-start-percent="0">
	        <div class="splitpic-image splitpic-right-image">
	            <div>
	                <img src="../assets/graphics/blog/{{ include.img1 }}">
	            </div>
	        </div>
	        <div class="splitpic-image splitpic-left-image">
	            <div>
	                <img src="../assets/graphics/blog/{{ include.img2 }}">
	            </div>
	        </div>
	        <div class="splitpic-bar"></div>
	        <div class="splitpic-info">
	            <span class="fa fa-arrow-left"></span> Slide
	            <span class="fa fa-arrow-right"></span>
	        </div>
	    </div>
	</div>
    <fig>{{ include.cap }}</fig>
</div>