.guessme{
	width:150px;
	height:30px;
	background-color: #AAA;
	color: #AAA;
	border-radius: 20px;
	text-align:center;
	display: inline-block;
	vertical-align:middle;
	margin-left:1%;
	margin-right:2%;
	border-width: 2;
	border: solid;
	border-color: #CCC;
}

.guessme:hover{
	color: #FFF;
	background-color: #444;
	border-width: 2;
	border: solid;
	border-color: #AAA;
}

#icon-content img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    max-width: 99%;
    text-align: center;
}


#icon-content{
  margin-top:120px;
  padding-left:3%;
  padding-right:3%;
  width: 80%;
  margin-left:40px;
}

#guessbox img{
	vertical-align:middle;
	display: inline-block;
}

#guessbox p{
	width:100px;
}

